@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


:root {
    --orange: rgb(255, 81, 0);
    --cream: rgb(255, 239, 183); 
    --white: #ffffff;
    --black: #000000;
    --grey: rgb(166, 166, 166);
}

body {
    background: var(--orange);
    font-family: 'Inter', sans-serif;
    line-height: normal;
    overflow-x: hidden;
}

body.active {
    background: var(--black);
}

.main-container {
    background: var(--cream);
    margin: .5rem;
    border-radius: 12px;
}

.about-me {
    padding: 3rem ;
}

.cabecalho.active, footer.active, .main-container.active {
    background: var(--black);
    border-radius: 12px;
}

.cabecalho-titulo {
    font-weight: 700;
    font-size: 2rem;
}

.cabecalho-sub-titulo {
    padding-top: 2rem;
    font-size: 1.4rem;
}

.dark-mode.active {
    color: var(--white);
}

.btn-mode {
    width: 70px;
    height: 20px;
    border: 5px solid var(--black);
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    top: -15.5rem;
    left: 80%;
}

.btn-mode.active {
    border-color: var(--white);
}


.btn-mode::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--black);
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left .5s;
}

.btn-mode.active::before {
    background: #ffffff;
    left: 48px;
}


.list-stacks {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 4rem;
}

svg path {
    fill: var(--black);
    stroke: var(--black);
}

#stacks-icon-html.active, #stacks-icon-css.active, #stacks-icon-js.active, #stacks-icon-github.active, .path-seta.active {
    fill: var(--white);
    stroke: var(--white);
}

#contact-github.active, #contact-linkedin.active, #contact-twitter.active {
    fill: var(--white);
    stroke: var(--white);
}

.seta {
    cursor: pointer;
    display: flex;
    margin-left: 50%;
    padding-bottom: 2rem;
}

.projects-container {
    padding-top: 8rem;
    background: rgba(255, 255, 255, 0.278);
    padding-bottom: 4rem;
    border-radius: 12px;
}

.apresentation {
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-bottom: 4rem;
    align-items: center;
}

.prev-slider {
    transform: rotate(180deg);
}

.apresentation h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.container-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-list {
    padding-left: 1rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.projects {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}


.project-image {
    width: 37rem;
}

.project-title {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
}

.all-projects-btn {
    background: var(--black);
    color: var(--white);
    padding: 1rem 1rem;
    margin-left: 1rem;
    border-radius: 18px;
}

footer {
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

footer h3 {
    font-size: 1.4rem;
}

.contact-list {
    display: flex;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .main-container {
        margin: 1rem;
    }
}

@media screen and (min-width: 1220px) {

    .cabecalho-titulo {
        font-size: 2.5rem;
        padding-right: 40rem;
    }

    .btn-mode {
        top: -8rem;
        left: 85%;
        width: 100px;
        height: 40px;
        border: 5px solid var(--black);
        border-radius: 60px;
        position: relative;
        cursor: pointer;
    }

    .btn-mode:before {
        content: "";
        position: absolute;
        width: 37px;
        height: 35px;
        background: var(--black);
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
    }

    .btn-mode.active::before {
        left: 58px;
    }


    .my-stacks {
        padding-top: 10rem;
    }

   .list-stacks-item svg {
        width: 5rem;
        height: 70px;
    }
}