@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


:root {
    --orange: rgb(255, 81, 0);
    --cream: rgb(255, 239, 183); 
    --white: #ffffff;
    --black: #000000;
    --grey: rgb(166, 166, 166);
}

body {
    background: var(--orange);
    font-family: 'Inter', sans-serif;
    line-height: normal;
}

.main-container {
    background: var(--cream);
    margin: .5rem;
    border-radius: 12px;
    
}

.about-me {
    padding: 3rem ;
}

.cabecalho-titulo {
    font-weight: 700;
    font-size: 2rem;
}

.cabecalho-sub-titulo {
    padding-top: 2rem;
    font-size: 1.4rem;
}

.list-stacks {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 4rem;
}

path {
    fill: var(--black);
    stroke: var(--black);
}

.seta {
    cursor: pointer;
    display: flex;
    margin-left: 50%;
    padding-bottom: 2rem;
}

.projects-container {
    padding-top: 8rem;
    background: whitesmoke;
    padding-bottom: 4rem;
}

.apresentation {
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-bottom: 4rem;
    align-items: center;
}

.apresentation h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.project-list {
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.all-projects-btn {
    background: var(--black);
    color: var(--white);
    padding: 1rem 1rem;
    margin-left: 1rem;
    border-radius: 18px;
}

footer {
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

footer h3 {
    font-size: 1.4rem;
}

.contact-list {
    display: flex;
    gap: 2rem;
}

.twitter {
    width: 40px;
}